<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#DB0000"/>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="./images/fast-food.png" >
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png"><link rel="manifest" href="./app.webmanifest">
    
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    
    <header>
      <nav >
        <a id="skip" href="main">Skip to Content</a>
        <div id="navbar">
        <h1 tabindex="0" id="home">Restoku</h1>
        <a id="hamburger" href="" tabindex="0" aria-label="navigation-menu">☰</a>
        <div id="drawer">
        <ul>        
          <li><a href="/" tabindex="0">home</a></li>  
          <li><a href="#/like" tabindex="0">favorite</a></li>
          <li><a href="https://github.com/KaisarF" tabindex="0">About us</a></li>
        </ul>
      </div>
    </div>
      </nav>
      <picture>
        <source media="(max-width:600px)" srcset="../public/images/hero-image_2-small.jpg" >
        <img class="lazyload"  data-src="../public/images/hero-image_2.jpg" width="100%" alt="restoku wallpaper" />
      </picture>
      
    </header>

    <main id="catalog" tabindex="0">
      
    </main>

    <footer>
      <div id="footerTools">
        <button id="subscribePushNotification" class="btn">Subscribe Push Notification</button>
        <button id="unsubscribePushNotification" class="btn">Unsubscribe Push Notification</button>
      </div>
      <br>
        <p>Copyright &copy; 2022, Restoku Apps</p>
        <div id="aboutus">
          <ul>
            <li>
              <a href="https://github.com/KaisarF"><i class="fa fa-github"></i></a>
              
            </li>
            <li>
              <a href="https://www.linkedin.com/in/kaisar-fauzan/"><i class="fa fa-linkedin-square"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/kaisar_fauzan_/?hl=id"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
    </footer>
  </body>
</html>
